/* Copyright 2013 David Frigaard
/* All rights reserved
/* www.davidfrigaard.com
/* Version 1.0 2013/07/21
*/

/* CSS RESET
/* Taken from Eric Meyer
/* www.meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LOAD AYNTHING
/* e.g. fonts, images for background, ...
*/

/*@font-face {
	font-family: Adelle;
	src: url('../fonts/AdelleBasic_Bold.otf') format('opentype');
}

@font-face {
	font-family: Adelle;
	font-style: italic;
	src: url('../fonts/AdelleBasic_BoldItalic.otf') format('opentype');
}*/

/* DEFINING STLYES
/* Change these if you need to
*/

body {
	/*background-color: #F1F1E9;*/
	/*background-image: url(../images/geometry_@2X.png);
	background-repeat: repeat;*/
	background-color: #FFFFFF;
	color: #0F0F0F;
	font-size: 14pt;
	line-height: 16pt;
	font-family: 'Fira Mono', 'Source Code Pro', Helvetica, Arial, sans-serif;
	font-weight: 500;
}

p {
	margin-top: 15px;
	text-align: center;
}

a, a:visited {
	color: #0F0F0F;
	font-style: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: underline; }

a:hover, a:focus {
	color: #E8151B;
}

h1, h2, h3, h4, h5, h6 {
	color: #0F0F0F;
	margin-top: 25px;
	font-family: 'Fira Mono', 'Source Code Pro', Arial, sans-serif;
	font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #6D9B63;
	font-weight: inherit;
	text-decoration: none;
}

h1 {font-size: 44px; line-height: 46px;}
h2 {font-size: 32px; line-height: 38px;}
h3 {font-size: 28px; line-height: 34px;}
h4 {font-size: 24px; line-height: 30px;}
h5 {font-size: 20px; line-height: 24px;}
h6 {font-size: 20px; line-height: 24px;}

ul {list-style: none outside}
ol {list-style: decimal}
ul.square {list-style: square outside}
ul.circle {list-style: circle outside}

ol, ul.square, ul.circle {margin-left: 30px;}

ul ul, ul ol, ol ol, ol ul {margin: 5px 0 0 30px}

hr {
	border: solid #6D9B63;
	border-width: 2px 0 0;
	clear: both;
	margin: 10px 0 15px 0;
	height: 0;
}

#title {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
}

/*#navbar {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

#navbar li {
	text-transform: none;
	display: inline-block;
	margin-bottom: 30px;
	padding-right: 15px;
	width: 33%;
}

#navbar li a {
	color: #2D867D;
}

#navbar li a:hover,
#navbar li a:focus {
	color: #6D9B63;
}
*/
#centered {
	text-align: center;
	margin-bottom: 30px;
}

#small {
	font-size: 10pt;
}

#subtitle {
	font-size: 16px;
	font-style: italic;
}
/*
#titlepage {
	margin-top: 500px;
}*/

#topbar {
	margin-top: 30px;
}

.navigation {
	width: 100%;
	margin-bottom: 30px;
}

.navigation div {
	display: inline-block;
	width: 32%;
	text-align: center;
}

.navigation div a,a:visited {
	text-decoration: none;
	}

.projecttable {
	width: 100%;
	border-collapse: collapse;
}

.projecttable a {
	color: #E8151B;
}
.projecttable tr {
	border: solid;
	border-width: 1px 0;
	height: 90px;
	margin-top: 20px;
}
.projecttable tr td {
	vertical-align: top;
	padding: 15px;
	text-align: right;
}

#projectname {
	vertical-align: middle;
	text-align: center;
	width: 25%;
}
